.wrapper{
  display: flex;
  flex-direction: row;
  font-family: 'Noto Sans JP', sans-serif;
}

h4{
  font-family: 'Noto Sans JP', sans-serif;
}

#content{
  width: 80%;
  height:100vh;
}

#navigation{
  width:20%;
  height: 100vh;  
  background-color: #303e4c;
  color: darkgray;
}

#app-name{
  text-align: center;
}

#meassage-header{
  padding-left: 10px;
  border-bottom: 1px solid #303e4c;
}

#createRoom{
  border-bottom: 1px solid #303e4c;
  box-shadow: none;
}

#createRoom:focus{
  box-shadow: 0 1px 0 0 #303e4c;
}

.active{
  color: #1f9aee !important;
}